<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHYebHxTMhNhMgJ9ucfrfJl2EPvE_QJQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>895499630691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beste.BookBridge</string>
	<key>PROJECT_ID</key>
	<string>bookbridge-6862a</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbridge-6862a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895499630691:ios:235c709beb6594270f2056</string>
</dict>
</plist>